.container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  text-align: left;
  padding-top: 10px;
}

.link {
  text-transform: uppercase;
  margin: 0.6em 20px;
}

.link:last-child {
  margin-bottom: 5%;
}