.pageTitle {
  position: fixed;
  z-index: 10;
  width: 100vw;
  /* height: 8vh; */
  padding: 2% 0;
  display: flex;
  justify-content: flex-end;
}

.pageTitle h1 {
  width: 50vw;
  align-self: center;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 300;
}

.headerImages {
  width: 50vw;
}

.headerImages img {
  width: 20%;
  padding: 0 3%;
}