.container {
    background-color: var(--salsa-dark-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.container p:first-child {
    padding: 10px 15px ;
    margin-left: 0;
    color: var(--salsa-green)
}

.container p {
    word-spacing: 100vw;
    text-transform: uppercase;
    font-size: 12px;
    background-color: black;
    margin: 6px;
    padding: 10px 0;
}
