/* DEFAULTS */
html, body {
    height: 100%;
}
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6, p, li {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: 300 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

/* VARIABLES  */
:root {
    --salsa-purple: #7317B0;
    --salsa-pink: #C03480;
    --salsa-green: #00F4B0;
    --salsa-dark-grey: #4A4949;
    --salsa-light-grey: #989797;
    --salsa-header-font: 'Shadows Into Light';

    --header-height: 12vh;
    --footer-height: 8vh;
}

.italic {
    font-style: italic !important;
}

strong {
    color: var(--salsa-green);
    font-weight: inherit;
}

/* MAIN */
main .page-title {
    text-align: left;
    padding-left: 15px;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.75);
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: var(--salsa-dark-grey);
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .page-title h1 {
    font-size: 1.6em;
}

main section {
    padding: 0;
    width: 100vw;
}

main section:first-of-type {
    padding-top: 6vh !important;
    padding-bottom: 4vh;
}

main section p, main section ul {
    font-size: 1.5em;
}

main section p {
    margin: 20px 0;
}

main section>p>span {
    display: block;
}

main p span {
    font-style: normal;
}

main ul {
    padding: 0;
    margin: 0;
}

main ul li {
    list-style-type: none;
}

/* HOME */
.home section:first-of-type {
    padding-top: 0 !important;
    text-align: left;
}

.home section p {
    padding-left: 15px;
    padding-right: 15px;
}

/* FAQ / VENUE / ABOUT */
.faq, .venue, .about {
    background-color: var(--salsa-dark-grey);
    text-align: left;
}
.faq p, .faq li, .venue p, .venue li, .about p {
    font-style: italic;
    padding-left: 15px;
    padding-right: 15px;
}
.faq p.question, .venue p.question, .about p.question {
    color: var(--salsa-green);
    margin: 0;
    font-style: normal;
    margin-top: 15px;
}
.faq section p, .venue section p, .about section p {
    margin: 0;
    margin-bottom: 15px;
}

/* VENUE / ABOUT */
.venue section:first-of-type, .about section:first-of-type {
    padding-top: 9vh !important;
}

/* ABOUT */
.about h2 {
    padding: 15px 15px 0 15px;
}

/* PARKING */
.parking section.map {
    padding: 0;
}

.parking .address {
    color: var(--salsa-green);
    text-transform: uppercase;
}

.parking p {
    padding-left: 15px;
    padding-right: 15px;
}

/* CALENDAR / VENUE / ABOUT */
.calendar .page-title, .venue .page-title, .about .page-title {
    text-align: center;
    padding: 10px 0 0 0;
    text-transform: uppercase;
}

/* CALENDAR */
.calendar .calendar-dates {
    padding-top: 9vh !important;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calendar .calendar-dates .calendar-dates-container {
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calendar .date-tile {
    position: relative;
    width: 20%;
}

.calendar .date-tile-inner {
    position: relative;
    background-color: var(--salsa-dark-grey);
    padding: 20% 0;
    margin: 5% 3%;
    overflow: hidden;
    display: block;
}

.calendar .date-tile-inner.closed, .calendar .date-tile-inner.past-date {
    opacity: 0.6;
}

.calendar .date-tile .next-friday {
    box-shadow: 0px 0px 0px 0.7em red;
    z-index: 6;
}

.calendar .date-tile span {
    display: block;
    font-size: 1.2em;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}

.calendar .date-tile span:first-of-type {
    font-size: 2.3em;
    font-weight: 300;
}

.calendar .date-tile .date-tile-inner .closed-banner,
.calendar .date-tile .date-tile-inner .coming-soon-banner {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 20%;
    width: 200%;
    background-color: black;
    transform: rotate(-20deg);
    top: 8%;
    left: -70%;
}

.calendar .date-tile .date-tile-inner .closed-banner>span,
.calendar .date-tile .date-tile-inner .coming-soon-banner>span {
    background-color: black;
    color: var(--salsa-green);
    text-transform: uppercase;
    font-size: 0.8em;
    align-self: center;
}

/* WHO IS WHO */
.who-is-who {
    background-color: var(--salsa-dark-grey);
}
.who-is-who section:first-of-type {
    width: 100vw;
    padding: 0;
    padding-top: 4vh !important;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.who-is-who h1 {
    text-transform: uppercase;
}

.who-is-who p {
    width: 60%;
    align-self: center;
    color: var(--salsa-green);
    margin: 5% 0;
}

.who-is-who .icon-links {
    height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.who-is-who a {
    display: block;
}

.who-is-who a img {
    width: 20%;
}

.who-is-who a h2 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
}

.who-is-who-djs-teachers section:first-of-type, .who-is-who-individuals section:first-of-type {
    width: 100vw;
    padding: 0;
    display: flex;
}

.who-is-who-djs-teachers section:first-of-type {
    padding-top: 10vh !important;
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.who-is-who-individuals section:first-of-type {
    padding-top: 8vh !important;
    color: white;
    flex-direction: column;
    align-items: flex-start;
}

.who-is-who-individuals h2, .who-is-who-individuals p {
    width: 40%;
    text-align: left;
    padding: 0 5%;
    font-weight: 300;
    z-index: 4;
}

.who-is-who-individuals h2 {
    font-size: 2.6em;
    text-transform: uppercase;

}

.who-is-who-individuals .role {
    font-size: 2.4em;
    text-transform: uppercase;
}

.who-is-who-individuals .description {
    display: flex;
    align-items: flex-end;
    min-height: 25vh;
}

.who-is-who-individuals .description p {
    font-size: 1.4em;
}

.who-is-who-individuals .image {
    position: absolute;
    align-self: flex-end;
    z-index: 2;
    bottom: 15vh;
}

.who-is-who-individuals .next-date {
    background-color: var(--salsa-purple);
    position: absolute;
    bottom: 6vh;
    width: 100vw;
    height: 10vh;
    z-index: 4;
}

.who-is-who-individuals .next-date p {
    text-transform: uppercase;
    font-size: 1.2em;
    padding-top: 3%;
    width: 70%;
}
