/* DEFAULTS */
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background-color: white;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 8vh; /* Needs to be the same as the footer */
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

/* SALSA VARIABLES  */
:root {
    --salsa-purple: #7317B0;
    --salsa-pink: #C03480;
    --salsa-green: #00F4B0;
    --salsa-dark-grey: #4A4949;
    --salsa-light-grey: #989797;
    --salsa-header-font: 'Shadows Into Light';
}

.paragraph {
    background-color: black;
    padding: 15px;
    text-align: left;
}

.paragraph p {
    font-size: 16px;
    margin: 20px 0;
}

.paragraph p span {
    display: block;
}
