/* DEFAULTS */
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background-color: white;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

main {
    flex: 2;
    overflow: auto;
}

/* SALSA VARIABLES  */
:root {
    --salsa-purple: #7317B0;
    --salsa-pink: #C03480;
    --salsa-green: #00F4B0;
    --salsa-dark-grey: #4A4949;
    --salsa-light-grey: #989797;
    --salsa-header-font: 'Shadows Into Light';
}

.paragraph {
    background-color: black;
    padding: 15px;
    text-align: left;
}

.paragraph p {
    font-size: 16px;
    margin: 20px 0;
}

.paragraph p span {
    display: block;
}

.italic {
    font-style: italic !important;
}

/* FAQ PAGE */
.faq, .faq .paragraph, .faq h1 {
    background-color: var(--salsa-dark-grey);
    font-size: 14px;
}

.faq h1 {
    text-align: left;
    padding: 15px;
    font-size: 16px;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.75);
    position: fixed;
    z-index: 10;
    width: 100%;
}

.faq .paragraph p:first-child {
    margin-top: 50px;
}

.faq p {
    margin: 0;
    margin-bottom: 15px;
    font-style: italic;
}

.faq p span {
    font-style: normal;
}

.faq p.question {
    color: var(--salsa-green);
    margin: 0;
    font-style: normal;
}
